
body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #00bfff, #004080);
  height: 100vh;
}
.aquarium {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#lightEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 0.4;
}
.shark {
  position: absolute;
  width: 400px;   
  height: 300px;
  animation-name: Shark;
  animation-duration: 20s;
  animation-timing-function:ease-in-out;
  animation-iteration-count:infinite;
  animation-play-state: running;
}
@keyframes Shark {
  0%   { left: 0px;   top: 100px; transform: rotate(0deg) scaleX(1); }
  10%  { left: 100px; top: 50px; transform: rotate(-3deg) scaleX(1); }
  15%  { left: 200px; top: 100px; transform: rotate(5deg) scaleX(1); }
  20%  { left: 400px; top: 100px; transform: rotate(5deg) scaleX(1); }
  25%  { left: 600px; top: 110px; transform: rotate(3deg) scaleX(1); }
  30%  { left: 800px; top: 105px; transform: rotate(-5deg) scaleX(1); }
  35%  { left: 1000px; top:100px; transform: rotate(5deg) scaleX(1); }
  40%  { left: 1200px; top:100px; transform: rotate(3deg) scaleX(1); }
  50%  { left: 1500px; top: 110px; transform: rotate(-3deg) scaleX(1); }
  51%  { left: 1500px; top: 110px; transform: rotate(0deg) scaleX(-1); }
  55%  { left: 1300px; top: 105px; transform: rotate(3deg) scaleX(-1); }
  60%  { left: 1200px; top: 100px; transform: rotate(-5deg) scaleX(-1); }
  65%  { left: 1100px; top: 100px; transform: rotate(3deg) scaleX(-1); }
  70%  { left: 900px; top: 90px; transform: rotate(3deg) scaleX(-1); }
  75%  { left: 740px; top: 80px; transform: rotate(3deg) scaleX(-1); }
  80%  { left: 600px; top: 90px; transform: rotate(5deg) scaleX(-1); }
  85%  { left: 400px; top: 60px; transform: rotate(5deg) scaleX(-1); }
  90%  { left: 200px; top: 50px; transform: rotate(-3deg) scaleX(-1); }
  95%  { left: 100px; top: 50px; transform: rotate(-3deg) scaleX(-1); }
  100% { left: -100px; top: 50px; transform: rotate(0deg) scaleX(-1); }
}
.faintSchool{
  position: absolute;
  width: 200px;   
  height: 100px;
  left: 100px; top: 400px;
  animation-name: FaintSchool;
  animation-duration: 60s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes FaintSchool {
  0%   { left: 200px;   top: 300px; transform: rotate(0deg) scaleX(1); }
  10%  { left: 300px; top: 290px; transform: rotate(-3deg) scaleX(1); }
  15%  { left: 400px; top: 280px; transform: rotate(5deg) scaleX(1); }
  20%  { left: 300px; top: 290px; transform: rotate(-5deg) scaleX(1); }
  25%  { left: 400px; top: 270px; transform: rotate(3deg) scaleX(1); }
  30% { left: 500px; top: 250px; transform: rotate(-3deg) scaleX(1); }
  40%  { left: 800px; top: 260px; transform: rotate(3deg) scaleX(1); }
  50% { left: 1500px; top: 270px; transform: rotate(-3deg) scaleX(1); }
  51%  { left: 1500px; top: 270px; transform: rotate(0deg) scaleX(-1); }
  55%  { left: 1000px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  60%  { left: 800px; top: 270px; transform: rotate(3deg) scaleX(-1); }
  65%  { left: 600px; top: 280px; transform: rotate(3deg) scaleX(-1); }
  70%  { left: 400px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  80%  { left: 200px; top: 250px; transform: rotate(3deg) scaleX(-1); }
  90%  { left: 100px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  100% { left: 0px; top: 200px; transform: rotate(0deg) scaleX(-1); }
}
.goldFishSchool{
  position: absolute;
  width: 200px;   
  height: 100px;
  animation-name: GoldFishSchool;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
 
}
@keyframes GoldFishSchool {
  0%   { left: 0;   top: 200px; transform: rotate(0deg) scaleX(1); }
  10%  { left: 100px; top: 290px; transform: rotate(-3deg) scaleX(1); }
  15%  { left: 250px; top: 280px; transform: rotate(5deg) scaleX(1); }
  20%  { left: 300px; top: 290px; transform: rotate(-5deg) scaleX(1); }
  25%  { left: 400px; top: 270px; transform: rotate(3deg) scaleX(1); }
  30% { left: 500px; top: 250px; transform: rotate(-3deg) scaleX(1); }
  40%  { left: 800px; top: 260px; transform: rotate(3deg) scaleX(1); }
  50% { left: 1500px; top: 270px; transform: rotate(-3deg) scaleX(1); }
  51%  { left: 1500px; top: 270px; transform: rotate(0deg) scaleX(-1); }
  55%  { left: 1000px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  60%  { left: 800px; top: 270px; transform: rotate(3deg) scaleX(-1); }
  65%  { left: 600px; top: 280px; transform: rotate(3deg) scaleX(-1); }
  70%  { left: 400px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  80%  { left: 200px; top: 250px; transform: rotate(3deg) scaleX(-1); }
  90%  { left: 100px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  100% { left: 0px; top: 200px; transform: rotate(0deg) scaleX(-1); }
}
.goldFishSchool1 {
  position: absolute;
  width: 200px;   
  height: 100px;
  animation-name: GoldFishSchool1;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
 
}
@keyframes GoldFishSchool1 {
  0% { left: 0;   top: 100px; transform: rotate(0deg) scaleX(1); }
  10% {  left: 400px;   top: 100px; transform: rotate(0deg) scaleX(1); }
  30% { left: 900px;   top: 150px; transform: rotate(0deg) scaleX(1); }
  50% { left: 1300px;   top: 150px; transform: rotate(0deg) scaleX(1); }
  55% { left: 1500px;   top: 150px; transform: rotate(0deg) scaleX(1); }
  56% { left: 1500px;   top: 150px; transform: rotate(0deg) scaleX(-1); }
  60% { left: 1300px;   top: 230px; transform: rotate(0deg) scaleX(-1); }
  70%{ left: 1000px;   top: 230px; transform: rotate(0deg) scaleX(-1); }
  80%{ left: 800px;   top: 190px; transform: rotate(0deg) scaleX(-1); }
  90%{ left: 500px;   top: 150px; transform: rotate(0deg) scaleX(-1); }
  100% { left: 0;   top: 150px; transform: rotate(0deg) scaleX(-1); }

}
.turtle {
  position: absolute;
  width: 150px;   
  height: 100px;
  animation-name: turtle;
  animation-duration: 70s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes turtle{
  0%   { left: 0;   top: 300px; transform: rotate(0deg) scaleX(1); }
  10%  { left: 100px; top: 290px; transform: rotate(-3deg) scaleX(1); }
  15%  { left: 250px; top: 250px; transform: rotate(5deg) scaleX(1); }
  20%  { left: 400px; top: 290px; transform: rotate(-5deg) scaleX(1); }
  25%  { left: 600px; top: 270px; transform: rotate(3deg) scaleX(1); }
  30% { left: 800px; top: 250px; transform: rotate(-3deg) scaleX(1); }
  35%  { left:1000px; top: 260px; transform: rotate(3deg) scaleX(1); }
  40%  { left:1200px; top: 280px; transform: rotate(3deg) scaleX(1); }
  45%  { left:1300px; top:260px; transform: rotate(3deg) scaleX(1); }
  50% { left: 1500px; top: 300px; transform: rotate(-3deg) scaleX(1); }
  51%  { left: 1500px; top: 270px; transform: rotate(0deg) scaleX(-1); }
  55%  { left: 1400px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  60%  { left: 1300px; top: 270px; transform: rotate(3deg) scaleX(-1); }
  65%  { left: 1100px; top: 300px; transform: rotate(3deg) scaleX(-1); }
  70%  { left: 800px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  80%  { left: 600px; top: 250px; transform: rotate(3deg) scaleX(-1); }
  90%  { left: 400px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  100% { left: 0px; top: 200px; transform: rotate(0deg) scaleX(-1); }

}
.diver1{
  position: absolute;
  width: 300px;   
  height: 200px;
  left: 800px;top:800px;
  animation-name: diver1;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes diver1{
  0%   { left: 50px;   top: 400px; transform: rotate(0deg) scaleX(1); }
  10%  { left: 100px; top: 400px; transform: rotate(-3deg) scaleX(1); }
  15%  { left: 250px; top: 390px; transform: rotate(5deg) scaleX(1); }
  20%  { left: 300px; top: 390px; transform: rotate(-5deg) scaleX(1); }
  25%  { left: 400px; top: 380px; transform: rotate(3deg) scaleX(1); }
  30% { left: 500px; top: 380x; transform: rotate(-3deg) scaleX(1); }
  40%  { left: 800px; top: 390px; transform: rotate(3deg) scaleX(1); }
  50% { left: 1500px; top: 400px; transform: rotate(-3deg) scaleX(1); }
  51%  { left: 1500px; top: 400px; transform: rotate(0deg) scaleX(-1); }
  55%  { left: 1000px; top: 500px; transform: rotate(3deg) scaleX(-1); }
  60%  { left: 800px; top: 500x; transform: rotate(3deg) scaleX(-1); }
  65%  { left: 600px; top: 490px; transform: rotate(3deg) scaleX(-1); }
  70%  { left: 400px; top: 490px; transform: rotate(3deg) scaleX(-1); }
  80%  { left: 200px; top: 490px; transform: rotate(3deg) scaleX(-1); }
  90%  { left: 100px; top: 480px; transform: rotate(3deg) scaleX(-1); }
  100% { left: 0px; top: 460px; transform: rotate(0deg) scaleX(-1); }

}
.diver2{
  position: absolute;
  width: 300px;   
  height: 200px;
  animation-name: diver2;
  animation-duration: 35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes diver2{
  0%   { left: 500px;   top: 300px; transform: rotate(0deg) scaleX(1); }
  10%  { left: 600px; top: 290px; transform: rotate(-3deg) scaleX(1); }
  15%  { left: 700px; top: 280px; transform: rotate(5deg) scaleX(1); }
  20%  { left: 800px; top: 290px; transform: rotate(-5deg) scaleX(1); }
  25%  { left: 900px; top: 280px; transform: rotate(3deg) scaleX(1); }
  30% { left: 1000x; top: 280px; transform: rotate(-3deg) scaleX(1); }
  35%  { left: 1100px; top: 290px; transform: rotate(3deg) scaleX(1); }
  40%  { left: 1200px; top: 260px; transform: rotate(3deg) scaleX(1); }
  45%  { left: 1300px; top:260px; transform: rotate(3deg) scaleX(1); }
  50% { left: 1500px; top: 270px; transform: rotate(-3deg) scaleX(1); }
  51%  { left: 1500px; top: 270px; transform: rotate(0deg) scaleX(-1); }
  55%  { left: 1000px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  60%  { left: 800px; top: 270px; transform: rotate(3deg) scaleX(-1); }
  65%  { left: 600px; top: 280px; transform: rotate(3deg) scaleX(-1); }
  70%  { left: 400px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  80%  { left: 200px; top: 250px; transform: rotate(3deg) scaleX(-1); }
  90%  { left: 100px; top: 260px; transform: rotate(3deg) scaleX(-1); }
  100% { left: 0px; top: 200px; transform: rotate(0deg) scaleX(-1); }

}
.diver3{
  position: absolute;
  width: 300px;   
  height: 200px;
  animation-name: diver3;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes diver3{
  0%   { left: 100px;   top: 400px; transform: rotate(0deg) scaleX(1); }
  5%  { left: 200px; top: 400px; transform: rotate(-3deg) scaleX(1); }
  10%  { left: 300px; top: 300px; transform: rotate(-3deg) scaleX(1); }
  15%  { left: 400px; top: 300px; transform: rotate(5deg) scaleX(1); }
  20%  { left: 500px; top: 400px; transform: rotate(-5deg) scaleX(1); }
  25%  { left: 600px; top: 400px; transform: rotate(3deg) scaleX(1); }
  30% { left: 700px; top: 500px; transform: rotate(-3deg) scaleX(1); }
  35%  { left: 900px; top: 500px; transform: rotate(3deg) scaleX(1); }
  40%  { left: 1000px; top: 500px; transform: rotate(3deg) scaleX(1); }
  45%  { left: 1220px; top:500px; transform: rotate(3deg) scaleX(1); }
  50% { left: 1500px; top: 400px; transform: rotate(-3deg) scaleX(1); }
  55%  { left: 1220px; top: 500px; transform: rotate(3deg) scaleX(-1); }
  60%  { left: 1000px; top: 500px; transform: rotate(3deg) scaleX(-1); }
  65%  { left: 800px; top: 400px; transform: rotate(3deg) scaleX(-1); }
  70%  { left: 600px; top: 300px; transform: rotate(3deg) scaleX(-1); }
  75%  { left: 500px; top: 300px; transform: rotate(3deg) scaleX(-1); }
  80%  { left: 400px; top: 300px; transform: rotate(3deg) scaleX(-1); }
  85%  { left: 300px; top: 300px; transform: rotate(3deg) scaleX(-1); }
  90%  { left: 200px; top: 300px; transform: rotate(3deg) scaleX(-1); }
  95%  { left: 100px; top: 200px; transform: rotate(3deg) scaleX(-1); }
  100% { left: 0px; top: 200px; transform: rotate(0deg) scaleX(-1); }

}
.bubble {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  animation: rise 8s linear infinite;
  z-index: 1;
}
.bubble1 { left: 20%; width: 20px; height: 20px; animation-delay: 0s; }
.bubble2 { left: 60%; width: 15px; height: 15px; animation-delay: 3s; }
.bubble3 { left: 80%; width: 25px; height: 25px; animation-delay: 5s; }
.seaweed1 {
  position:absolute;
  width: 500px;
  height:200px;
  bottom: 0;
  left: -7%;
  
}
.seaweed2 {
  position:absolute;
  width: 500px;
  height:200px;
  bottom: 0;
  left:33%
}
.seaweed3 {
  position:absolute;
  width: 500px;
  height:200px;
  bottom: 0;
  left:70%;
}
@keyframes rise {
  0% { transform: translateY(0) scale(1); opacity: 0.8; }
  100% { transform: translateY(-100vh) scale(0.5); opacity: 0; }
}
